@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    /* defining color variables */ 
--mainColor: #4B77D5;
--textColor: #181818;
--whiteTextandBackground: #ffffff;
}

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.big-wrapper {
    max-width: 75%;
    margin: auto;
}

#body1{
    background-image: url(./mybackground.jpeg);
}

body {
    font-family: 'Poppins', 'sans-serif';
    color: #eee;
    text-rendering: optimizeSpeed;
    background-color: var(--mainColor);
    background-repeat: no-repeat;
    background-size:cover;
    min-height: 1000px;
}    


img {
    /* keeps all images in 100% of container */ 
    width: 100%;
}


.options {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    margin: auto;
    justify-content: center;
    margin-left: 2rem;

}


.body1 {
    width: 100%;
    display: flex;
    margin: auto;
    margin-top: 0.5rem;
    gap: 1rem;
    flex-direction: column;

}

h1 {
    font-size: 24px;
}

p1 {
    font-size: 16px;
}

#aboutbody {
    background-repeat:no-repeat;
}


.body1 img {
    height: 300px;
    width: auto;
    float: right;
    margin-right: 20px;
    padding: 10px;
}

#two {
    float: left;
}